MONGO_URI=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
JWT_SECRET=
CLIENT_URL=http://localhost:5173
WEBHOOK_SECRET=
WEBHOOK_URL=https://<ngrok-or-prod>/webhooks/github
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
APP_URL=http://localhost:5050
PORT=5050
